{% extends "blog/base.html" %}
{% block content %}
<style>
   p {
    font-weight: normal; /* Нормальное начертание */
   }
   .select {
    color: maroon; /* Цвет текста */
    font-weight: 600; /* Жирное начертание */
   }
</style>
    <h1>Завданння:</h1>

    <h2>Хапай-файлопередай</h2>

    <p align="justify">Розробити сервіс поширення фалів на кшталт MEGA, RGhost автор файлу отримує унікальне посилання прямого доступу, яке він може передати іншому користувачу автор може переглянути всі свої розміщені файли автор може задати “час життя” файлу після закінчення “часу життя” файл перестає бути доступний всім, але залишається в системі Інтерфейс користувача повинен містити перелік доступних файлів випадкове відображення файлу випадкове відображення файлу, який перестане бути доступним менше ніж за певний час(годину, добу, тиждень) статистику: скільки всього було завантажено файлів, скільки доступно зараз, скільки перестане бути доступними через певний час (добу, годину) Інтеграція з соціальними мережами: Додати вхід через популярні соціальні мережі: Facebook (https://developers.facebook.com/docs/facebook-login) Google (https://developers.google.com/identity/) Інші соцмережі на ваш вибір (необов'язково)</p>
{% endblock content %}
