{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
             <div class="card-body row">
                 <div class="small"><a href="/#"><img src="/static/images/google.jpg" width="40" height="40"></a></div>
                 <div class="small"><a href="{% url 'social:begin' 'facebook' %}"><img src="/static/images/facebook.jpg" width="40" height="40"></a></div>
                 <div class="small"><a href="{% url 'social:begin' 'facebook' %}"><img src="/static/images/twitter.png" width="40" height="40"></a></div>
                 <div class="small"><a href="{% url 'social:begin' 'github' %}"><img src="/static/images/github.png" width="40" height="40"></a></div>
            </div>
        </form>
        <div class="border-top pt-3">

            <div class="small text-center"><a href="/reset_password/">Forgot Password?</a></div>
        </div>
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </small>
        </div>
    </div>
{% endblock content %}
