{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .content-section{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    }
    @media only screen and (max-width: 600px) {
    .content-section{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }
}
</style>
 <div class="content-section">

   <fieldset class="form-group">
                <legend class="border-bottom mb-4">Forgot your password?</legend>
   </fieldset>
   <fieldset class="form-group">
                <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
     <form action="" method="POST" class="text-center">
  {% csrf_token %}
  {{form|crispy}}
   <button class="btn btn-outline-info" type="submit">Reset my password</button><br>
</form><br/>
<div class="text-center">
  <a href="{% url 'blog-home' %}">Return to home page</a>
</div>
   </fieldset>
 </div>


{% endblock%}
