{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 <div class="content-section">

   <fieldset class="form-group">
                <legend class="border-bottom mb-4">Forgot your password?</legend>
   </fieldset>
   <fieldset class="form-group">
                <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
     <form action="" method="POST" class="text-center">
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Reset my password" /><br>
</form><br/>
<div class="text-center">
  <a href="{% url 'blog-home' %}">Return to home page</a>
</div>
   </fieldset>
 </div>


{% endblock%}